<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    This site was created by Alpesh Jamgade. It Uses data from mapbox.com and weatherstack.com
    <link rel="icon" href="./img/weather.png">

    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/pexels-pixabay-36717.jpg">
    </div>
    {{>footer}}
</body>

</html>